.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:40px
    
}

.box{
    width:200px;
    height: 200px;
    background:#5053ff;
    border-radius: 50%;
    margin-bottom: 20px;

}
.on{
    background:#5053ff;
}
.off{

    background:#a2e649;
}